<section id="contact" class="contact">
    <div class="filter"></div>
    <div class="container">
      <h2>Kapcsolat</h2>
  
      <div class="form hidden">
        <form action="https://formsubmit.co/priskin.zsuzsanna@gmail.com" method="POST">
          <input type="hidden" name="_next" value="https://priskinzsuzsanna.github.io/thankyou/{{this.service.isDark}}">
          <div class="input-data">
            <input type="text" name="Name" required>
            <div class="underline"></div>
            <label for="">Név</label>
          </div>
          <div class="input-data">
            <input type="email" name="Email" required>
            <div class="underline"></div>
            <label for="">E-mail</label>
          </div>
          <div class="input-data textarea">
            <textarea rows="8" cols="80" name="Message" required></textarea>
            <div class="underline"></div>
            <label for="">Üzenet</label>
          </div>
          <div class="button">
            <button type="submit" value="submit">Küldés</button>
          </div>
        </form>
  
      </div>
      <div class="social hidden">
        <ul>
          <li><a href="https://github.com/PriskinZsuzsanna" target="_blank"> <fa-icon [icon]="faGithub"></fa-icon></a>
          </li>
          <li><a href="https://www.linkedin.com/in/zsuzsanna-priskin" target="_blank"><fa-icon
                [icon]="faLinkedin"></fa-icon></a></li>
          <li><a href="tel: +36308145597"><fa-icon [icon]="faPhone"></fa-icon></a></li>
          <li><a href="mailto:priskin.zsuzsanna@gmail.com"><fa-icon [icon]="faEnvelope"></fa-icon></a>
          </li>
        </ul>
      </div>
    </div>
  
    <footer>
      <div class="container">
        <p>Copyright &copy; 2023 Priskin Zsuzsanna</p>
      </div>
    </footer>
  </section>
