@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}

li {
    cursor: pointer;
}

a {
    text-decoration: none;
    cursor: pointer;
}

h1,
h2,
h4 {
    text-align: center;
}

h2 {
    margin-bottom: 2rem;
}

h3:not(.logo-h3) {
    margin-bottom: 1.5rem;
}

p {
    line-height: 2em;
}

button{
    outline: none;
    border: 1px solid var(--primary);
    padding: .8em 3em;
    border-radius: 2rem;
    background: none;
    margin-top: 1em;
    color: var(--primary);
    font-size: .85em;
    cursor: pointer;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #343333;
    font-size: 1rem;

    @media screen and (max-width: 374px){
        font-size: .85rem;
    }
    @media screen and (min-width: 1200px){
        font-size: 1.1rem;
    }
    @media screen and (min-width: 1900px){
        font-size: 1.2rem;
    }
}

app-root {
    width: 100%;
    min-height: 100vh;
    background: var(--bg);
}

section {
    width: 100%;
    min-height: 50vh;
    padding-top: 4rem;


    .container {
        padding-inline: 5%;
        padding-block: 1.5rem;
        width: 100%;
        max-width: 1600px;
        margin-inline: auto;
    }
}

.body-fade-out {
    height: 100vh;
    app-root {
        position: relative;
        background: var(--primary);
    }
}