.portfolio {

    .flex-center {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
        @media screen and (min-width: 700px){
            grid-template-columns: repeat(3, 1fr);
        }
        .portfolio-item {
            width: 100%;
            margin-block: 0 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            position: relative;
        }
        
        .portfolio-item h3 {
            color: var(--primary-alpha);
        }
        
        .portfolio-item-thumbnail {
            border-radius: 10px;
            position: relative;
            transition: all .3s ease-in;
            overflow: hidden;
            cursor: pointer;
        }
        
        .portfolio-item-thumbnail a {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            inset: 0;
            translate: -50% 0;
            opacity: 0;
            font-size: 20px;
            background: var(--gradient);
            border-radius: 10px;
            color: #fff;
            cursor: pointer;
            transition: all .5s ease-in-out;
        }
    }
    
    .portfolio-item-thumbnail:hover a {
        translate: 0 0;
        opacity: 1;
    }
    
    .portfolio-item-thumbnail img {
        width: 100%;
        border-radius: 10px;
        pointer-events: none;
    }
    
    .portfolio-item h3 {
        font-size: 20px;
        text-transform: capitalize;
        margin: 20px 0 0;
        text-align: center;
    }
    
    .portfolio-item-details {
        display: none;
    }
}



.portfolio-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
    /*
    height: auto;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    z-index: 1000;
    visibility: visible;
    overflow-y: auto;
    overflow-x: auto;
    */
    backdrop-filter: blur(10px);

    .pp-inner {
        width: 100%;
        height: 100vh;
        overflow-x: auto; //!
        padding: 20px;
        color: #fff;
        border-radius: 20px;
        margin-inline: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        @media screen and (min-width: 700px) {
            justify-content: center;
        }

        .pp-content {
            padding: 1rem;
            background: var(--gradient);
            border-radius: 30px;
            max-width: 600px;
            width: auto;
            height: auto;
            opacity: 1;
            margin-block: 1rem 5%;

            .pp-header {
                position: relative;

                .pp-close {
                    height: 40px;
                    width: 40px;
                    padding: 0;
                    position: absolute;
                    right: -2rem;
                    top: -3rem;
                    color: #fff;
                    border: none;
                    box-shadow: 1px 2px 3px #fff;
                    font-size: 1rem;
                }

                .pp-thumbnail img {
                    border-radius: 10px;
                    pointer-events: none;
                }

                h3 {
                    font-size: 25px;
                    text-transform: capitalize;
                    margin-block: 1rem .7rem;
                    text-align: center;
                    color: #fff;
                }

               
            }
            
            .pp-body {
                .description {
                    width: 100%;
                    margin-bottom: 1rem;

                    h3, p {
                        text-align: center;
                        color: #fff;
                    }

                    p {
                        text-transform: uppercase;
                    }

                    .skills {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        gap: 0.5rem;

                        .skill-item{
                            padding: 0.5rem 3rem;
                            border: 1px solid #fff;
                            text-align: center;
                            border-radius: 50px;
                            transition: all .3s ease-in-out;
                        }

                    }

                    .link {
                       width: 100%;
                       display: flex;
                       justify-content: center;
                       margin-block: 1.2rem;

                        a {
                            text-transform: lowercase;
                            color: #fff;
                            padding: .8rem 3rem;
                            border-radius: 2rem;
                            background: var(--gradient);
                            scale: 1;
                            transition: all .3s ease-in-out;
                        }
                        a:hover {
                            scale: 1.05;
                        }
                        
                    }

                }
            }
          
        }
    }

}

