//Light theme

$l-gradient-1: #93f6fba7;
$l-gradient-2: #587cded6;
$l-gradient-3: #23d3d9d1;
$l-primary: #587cde;
$l-primary-alpha: #587cde9c;
$l-primary-alpha-2: #587cde36;
$l-color: #23d3d9;
$l-color-alpha: #23d3d927;
$l-color-alpha-2: #23d3d927;
$l-bg: #fff;
$l-open-nav: #587cde;
$l-text-color: #343333;

//Dark theme
$d-gradient-1: #000;
$d-gradient-2: #241e1e;
$d-gradient-3: #2f2e2e;
$d-primary: #fe2c5d;
$d-primary: #587cde;
$d-primary-alpha: #6f6fdf;
$d-primary-alpha-2:#587cde;
$d-color: #587cde; 
$d-color: #587cde;
$d-color-alpha: #587cde;
$d-color-alpha-2: #587cde;
$d-primary-alpha: #587cde;
$d-bg: #25253d;
$d-bg: #33335d;
$d-open-nav: $d-bg;
$d-text-color: #d6d5d5;

//transition: 
$transition: all .3s ease-in-out;

@mixin light(){
    --gradient: #{linear-gradient(110deg, $l-gradient-1, $l-gradient-2, $l-gradient-3)};
    --gradient-2: #{linear-gradient(110deg,  $l-gradient-2, $l-gradient-3, $l-gradient-2)};
    --gradient-alpha: #{linear-gradient(110deg, $l-color-alpha-2, $l-primary-alpha-2, $l-color-alpha-2)};
    --primary: #{$l-primary};
    --primary-alpha: #{$l-primary-alpha};
    --color: #{$l-color};
    --color-alpha: #{$l-color-alpha};
    --bg: #{$l-bg};
    --nav-bg: #{$l-open-nav};
    --text-color: #{$l-text-color};
}
@mixin dark(){
    --gradient: #{linear-gradient(110deg,  $d-primary, $d-bg, $d-primary)};
    --gradient-2: #{linear-gradient(110deg, #b5b5ff, $d-primary-alpha, $d-primary, #5454bc)};
    --gradient-alpha: #{linear-gradient(110deg, $d-primary, $d-bg, $d-primary)};
    --primary: #{$d-primary};
    --primary-alpha: #{$d-primary-alpha};
    --color: #{$d-color};
    --color-alpha: #{$d-color-alpha};
    --bg: #{$d-bg};
    --nav-bg: #{$d-open-nav};
    --text-color: #{$d-text-color};
}

body{
    @include light();
}

body.dark {
    @include dark();
}