//Light theme
$l-gradient-1: #93f6fb69;
$l-gradient-1: #93f6fba7;
$l-gradient-2: #587cde53;
$l-gradient-2: #587cded6;
$l-gradient-3: #23d3d928;
$l-gradient-3: #23d3d9d1;
$l-primary: #587cde;
$l-primary-alpha: #587cde9c;
$l-primary-alpha-2: #a9b9e570;
$l-color: #23d3d9;
$l-color-alpha: #23d3d927;
$l-bg: #fff;
$l-open-nav: #587cde;

//Dark theme
$d-gradient-1: #000;
$d-gradient-2: #241e1e;
$d-gradient-3: #2f2e2e;
$d-primary: #fff;
$d-color: #fe2c5d;
$d-primary-alpha: #fe2c5d3e;
$d-bg: #000;
$d-open-nav: #000;

@mixin light(){
    --gradient: #{linear-gradient(110deg, $l-gradient-1, $l-gradient-2, $l-gradient-3)};
    --primary: #{$l-primary};
    --color: #{$l-color};
    --bg: #{$l-bg};
    --nav-bg: #{$l-open-nav};
    --primary-alpha: #{$l-primary-alpha};
}
@mixin dark(){
    --gradient: #{linear-gradient(110deg, $d-gradient-1, $d-gradient-2, $d-gradient-3)};
    --primary: #{$d-primary};
    --color: #{$d-color};
    --bg: #{$d-bg};
    --nav-bg: #{$d-open-nav};
    --primary-alpha: #{$d-primary-alpha};
}

body{
    @include light();
}

body.dark {
    @include dark();
}