<section id="hero" class="hero">
  <div class="filter"></div>
  <header [ngClass]="menuOpen ? 'open' : '' ">

    <nav (scroll)="onWindowScroll()">
      <div class="logo">
        <h3 class="logo-h3"><a (click)="jump('hero')">PzS.</a></h3>
      </div>
      <ul [ngClass]="menuOpen ? 'open' : '' ">
        <li><a (click)="jump('hero')">Home</a></li>
        <li><a (click)="jump('about')">Rólam</a></li>
        <li><a (click)="jump('portfolio')">Portfólió</a></li>
        <li><a (click)="jump('contact')">Kapcsolat</a></li>
      </ul>
      <div class="menu-toggle">
        <fa-icon *ngIf="!menuOpen" [icon]="faBars" (click)="toggleMenu()"></fa-icon>
        <fa-icon *ngIf="menuOpen" [icon]="faClose" (click)="toggleMenu()"></fa-icon>
      </div>
    </nav>

  </header>
  <div class="container">
    <h1>Priskin Zsuzsanna</h1>
    <h4>Frontend Programozó</h4>
  </div>
  <button class="hero-btn"><a (click)="jump('portfolio')">Portfólió</a></button>
  <div class="social hidden">
    <ul>
      <li><a href="https://github.com/PriskinZsuzsanna" target="_blank"> <fa-icon [icon]="faGithub"></fa-icon></a>
      </li>
      <li><a href="https://www.linkedin.com/in/zsuzsanna-priskin" target="_blank"><fa-icon
            [icon]="faLinkedin"></fa-icon></a></li>
      <li><a href="tel: +36308145597"><fa-icon [icon]="faPhone"></fa-icon></a></li>
      <li><a href="mailto:priskin.zsuzsanna@gmail.com"><fa-icon [icon]="faEnvelope"></fa-icon></a>
      </li>
    </ul>
  </div>
</section>

<section id="about" class="about">
  <div class="container">
    <h2>Rólam</h2>
    <div class="side-flex-container">

      <div class="side-menu">
        <button [ngClass]="isAbout ? 'active' : '' " (click)="toggleAboutMenu('isAbout')">
          <fa-icon [icon]="faUserSecret"></fa-icon>
          <span class="button-text">Rólam</span>
        </button>
        <button [ngClass]="isStudies ? 'active' : '' " (click)="toggleAboutMenu('isStudies')">
          <fa-icon [icon]="faGraduationCap"></fa-icon>
          <span class="button-text">Tanulmányok</span>
        </button>
        <button [ngClass]="isExperience ? 'active' : '' " (click)="toggleAboutMenu('isExperience')">
          <fa-icon [icon]="faMagicWandSparkles"></fa-icon>
          <span class="button-text">Tapasztalat</span>
        </button>
        <button [ngClass]="isLanguages ? 'active' : '' " (click)="toggleAboutMenu('isLanguages')">
          <fa-icon [icon]="faLanguage"></fa-icon>
          <span class="button-text">Nyelvtudás</span>
        </button>
      </div>

      <div class="right-text">

        <div class="about" *ngIf="isAbout">
          <h3 class="gradient-text">Pályám</h3>
          <p>A folytonos tanulás, az új területek megismerése mindig is meghatározó szerepet játszott az életemben.
            Ez a természetes felfedezésvágy terelt a programozás felé, ahol azonnal magával ragadott a frontend
            programozás világa.
          </p>
          <p>A
            <span>javascript</span>re épülő <span>keretrendszerek</span> és könyvtárak használata mellett közel áll
            hozzám a <span>node.js</span> és a
            backend világa is, illetve nagyon fontosnak tartom, hogy a közeljövőben minél több <span>UI/UX</span>
            ismeretet
            szerezzek.
          </p>
          <h3 class="gradient-text">Skills</h3>
          <div class="buttons">
            <button class="rounded-btn"><fa-icon [icon]="faReact"></fa-icon></button>
            <button class="rounded-btn"><fa-icon [icon]="faAngular"></fa-icon></button>
            <button class="rounded-btn"><fa-icon [icon]="faJs"></fa-icon></button>
            <button class="rounded-btn"><fa-icon [icon]="faNodeJs"></fa-icon></button>
            <button class="rounded-btn"><fa-icon [icon]="faHtml5"></fa-icon></button>
            <button class="rounded-btn"><fa-icon [icon]="faGithub"></fa-icon></button>
            <button class="rounded-btn"><fa-icon [icon]="faGit"></fa-icon></button>
            <button class="rounded-btn"><fa-icon [icon]="faCss3"></fa-icon></button>
            <button class="rounded-btn"><fa-icon [icon]="faSass"></fa-icon></button>
            <button class="rounded-btn"><fa-icon [icon]="faBootstrap"></fa-icon></button>

          </div>
        </div>

        <div class="studies" *ngIf="isStudies">
          <h3 class="gradient-text">Tanulmányok</h3>
          <h4 class="gradient-text">EPAM START PROGRAM</h4>
          <p>2023</p>
          <h4 class="gradient-text">WEBLER FRONTEND KÉPZÉS</h4>
          <p>2022-2023</p>
          <div class="buttons">
            <button class="rounded-btn"><fa-icon [icon]="faReact"></fa-icon></button>
            <button class="rounded-btn"><fa-icon [icon]="faAngular"></fa-icon></button>
            <button class="rounded-btn"><fa-icon [icon]="faJs"></fa-icon></button>
            <button class="rounded-btn"><fa-icon [icon]="faNodeJs"></fa-icon></button>
            <button class="rounded-btn"><fa-icon [icon]="faHtml5"></fa-icon></button>
            <button class="rounded-btn"><fa-icon [icon]="faGithub"></fa-icon></button>
            <button class="rounded-btn"><fa-icon [icon]="faGit"></fa-icon></button>
            <button class="rounded-btn"><fa-icon [icon]="faCss3"></fa-icon></button>
            <button class="rounded-btn"><fa-icon [icon]="faSass"></fa-icon></button>
            <button class="rounded-btn"><fa-icon [icon]="faBootstrap"></fa-icon></button>

          </div>
          <h4 class="gradient-text">ÚJRATERVEZÉS 3.0</h4>
          <p>2022: Tanusítvány: 92%</p>
          <h4 class="gradient-text">LISZT FERENC ZENEMŰVÉSZETI EGYETEM</h4>
          <p>2010-2012: Klasszikus Gitárművész MA</p>
          <p>2011-2012: Klasszikus Gitártanár MA</p>
          <p>2007-2010: Klasszikus Előadóművész BA</p>
        </div>

        <div class="experience" *ngIf="isExperience">
          <div>
            <h3 class="gradient-text">Frontend Munkáim</h3>
            <p class="gradient-text">2022-2023</p>
            <div class="buttons exp-buttons">
              <button (click)="jump('portfolio')">Portfólió</button>
              <button><a href="https://github.com/PriskinZsuzsanna" target="_blank">GitHub</a></button>
            </div>
            <p>Használt keretrendszerek, könyvtárak:</p>
            <button class="narrow-btn">React</button>
            <button class="narrow-btn">Angular</button>
            <p>Programnyelvek:</p>
            <button class="narrow-btn">Javascript</button>
            <button class="narrow-btn">Javascript OOP</button>
            <button class="narrow-btn">Node.js</button>
            <button class="narrow-btn">Typescript</button>
            <p>CSS ismeretek:</p>
            <button class="narrow-btn">Sass/Scss</button>
            <button class="narrow-btn">Bootstrap</button>
            <button class="narrow-btn">CSS3</button>
          </div>

          <div>
            <h3 class="gradient-text">Korábbi Munkatapasztalat</h3>
            <p class="gradient-text">2009-2023</p>
            <p>Klasszikus Gitártanár</p>
            <p>14 év folytonos munkaviszonyt tudok magam mögött az oktatásban. Munkám során használt és elsajátított
              készségeim, tulajdonságaim:</p>
            <div class="work-skills">
              <button class="narrow-btn">Csapatmunka</button>
              <button class="narrow-btn">Önálló felelőségvállalás</button>
              <button class="narrow-btn">Munkahelyi Konfliktuskezelés</button>
              <button class="narrow-btn">Kommunikáció a kollégákkal és az ügyfelekkel</button>
              <button class="narrow-btn">Hatékony Időkezelés</button>
              <button class="narrow-btn">Precizitás</button>
              <button class="narrow-btn">Kreatív feladatmegoldás</button>
            </div>
          </div>

        </div>

        <div class="languages" *ngIf="isLanguages">
          <div>
            <h3 class="gradient-text">Nyelvtudás</h3>
            <p class="gradient-text">2004</p>
            <button class="narrow-btn">Angol Komplex Középfok</button>
            <p class="lang-title">Nyelvvizsga</p>
            <p>BME Nyelvvizsgaközpot</p>
            <p class="gradient-text">2007</p>
            <button class="narrow-btn">Angol Emeltszint</button>
            <p class="lang-title">Érettségi</p>
          </div>
          <div>
            <h3 class="gradient-text">Angol Szakmai Nyelv használata</h3>
            <p class="lang-title">Napi szinten használok angol nyelvű oktatóvideókat, olvasok angol nyelvű
              dokumentációkat.
              Szívesen tanulok angol nyelven írásban és szóban is.</p>
          </div>

        </div>

      </div>

    </div>
  </div>
</section>

<section id="portfolio" class="portfolio">
  <div class="container">
    <h2>Portfólió</h2>

    <div class="flex-center flex-wrap hidden">

      <div *ngFor="let item of portfolio" class="portfolio-item hidden">
        <div class="portfolio-item-thumbnail">
          <a href="{{item.url}}" target="_blank">Live Site</a>
          <img src="assets/images/port/{{item.image}}" alt="{{item.title}} oldal thumbnail">
        </div>
        <h3 class="portfolio-item-title">{{item.title}}</h3>
        <button (click)="OpenPopup(item)" type="button" class="btn view-project-btn">info</button>
        <div class="portfolio-item-details">
        </div>


      </div>

    </div>


  </div>
</section>

<section id="contact" class="contact">
  <div class="filter"></div>
  <div class="container">
    <h2>Kapcsolat</h2>

    <div class="form hidden">
      <form action="https://formsubmit.co/priskin.zsuzsanna@gmail.com" method="POST">
        <input type="hidden" name="_next" value="https://priskinzsuzsanna.github.io/thanks.html">
        <div class="input-data">
          <input type="text" name="Name" required>
          <div class="underline"></div>
          <label for="">Név</label>
        </div>
        <div class="input-data">
          <input type="email" name="Email" required>
          <div class="underline"></div>
          <label for="">E-mail</label>
        </div>
        <div class="input-data textarea">
          <textarea rows="8" cols="80" name="Message" required></textarea>
          <div class="underline"></div>
          <label for="">Üzenet</label>
        </div>
        <div class="button">
          <button type="submit" value="submit">Küldés</button>
        </div>
      </form>

    </div>
    <div class="social hidden">
      <ul>
        <li><a href="https://github.com/PriskinZsuzsanna" target="_blank"> <fa-icon [icon]="faGithub"></fa-icon></a>
        </li>
        <li><a href="https://www.linkedin.com/in/zsuzsanna-priskin" target="_blank"><fa-icon
              [icon]="faLinkedin"></fa-icon></a></li>
        <li><a href="tel: +36308145597"><fa-icon [icon]="faPhone"></fa-icon></a></li>
        <li><a href="mailto:priskin.zsuzsanna@gmail.com"><fa-icon [icon]="faEnvelope"></fa-icon></a>
        </li>
      </ul>
    </div>
  </div>

  <footer>
    <div class="container">
      <p>Copyright &copy; 2023 Priskin Zsuzsanna</p>
    </div>
  </footer>
</section>

<!--Portfolio Pop-Up-->
<div *ngIf="isOpenPopup" (click)="togglePortfolioPopup()" class="portfolio-popup">
  <div class="pp-inner">
    <div class="pp-content">
      <div class="pp-header">
        <button type="button" class="btn pp-close"> <fa-icon [icon]="faClose"
            (click)="togglePortfolioPopup()"></fa-icon></button>
        <div class="pp-thumbnail">
          <img src="assets/images/port/{{actual.image}}" alt="img">
        </div>
        <h3>{{actual.title}}</h3>
      </div>
      <div class="pp-body">
        <div class="description">
          <h3>{{actual.subtitle}}</h3>
          <p>{{actual.category}}</p>
          <div class="skills">
            <div *ngFor="let skill of actual.skills" class="skill-item">{{skill}}</div>
          </div>
          <div class="link">
            <a href="{{actual.url}}" target="_blank" class="btn live">live
              site
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>