<header>
  <nav>
    <div class="logo">
      <h2>Logo</h2>
    </div>
    <ul [ngClass]="menuOpen ? 'open' : '' ">
      <li>Home</li>
      <li>Rólam</li>
      <li>Portfólió</li>
      <li>Kapcsolat</li>
    </ul>
    <div class="menu-toggle">
      <fa-icon *ngIf="!menuOpen" [icon]="faBars" (click)="toggleMenu()"></fa-icon>
      <fa-icon *ngIf="menuOpen" [icon]="faClose" (click)="toggleMenu()"></fa-icon>
    </div>
  </nav>
</header>

<section class="hero">
  <div class="container"></div>
</section>

<section class="about">
  <div class="container"></div>
</section>

<section class="portfolio">
  <div class="container"></div>
</section>

<section class="contact">
  <div class="container"></div>
</section>

<footer>
  <div class="container"></div>
</footer>