<div class="container thank-you" [ngClass]="dark ? 'dark' : ''">
  <div class="filter"></div>
    <h1>Köszönjük!</h1>
    <h4>Sikeres Üzenetküldés</h4>
    <div class="button">
      <button class="hero-btn"><a (click)="backToMain()">Vissza a főoldalra</a></button>
    </div>
    <div class="social hidden">
      <ul>
        <li><a href="https://github.com/PriskinZsuzsanna" target="_blank"> <fa-icon [icon]="faGithub"></fa-icon></a>
        </li>
        <li><a href="https://www.linkedin.com/in/zsuzsanna-priskin" target="_blank"><fa-icon
              [icon]="faLinkedin"></fa-icon></a></li>
        <li><a href="tel: +36308145597"><fa-icon [icon]="faPhone"></fa-icon></a></li>
        <li><a href="mailto:priskin.zsuzsanna@gmail.com"><fa-icon [icon]="faEnvelope"></fa-icon></a>
        </li>
      </ul>
    </div>
  </div>
